@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
    margin: 0; /* Reset the margin */
    padding: 0; /* Reset the padding */
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
}

.company-background{
    background-color: #dee6ef;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stats-container {
    display: flex;
    padding: 20px;

}

#stats{
    padding-top: 40px;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

.stats-container{
    display: flex;
    align-items: center;
}

.stats-container:hover{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.game-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#dee6ef ;
}

h2, p {
    padding: 0 40px;
    text-align: center;
}

#caption-1, #caption-2{
    display: flex;
    justify-content: center;
}

.navbar {
    margin-left: auto;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-right: 30px;
}

.navbar li {
    margin-left: 50px; 
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar a:hover {
    color: #008fd2fc; 
}

.our-games-section{
    background-color: #dee6ef;
    padding-top: 20px;
}

.search-bar{
    display: flex;
    justify-content: center;
}

.search-bar input{
    height: 40px;
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid #ccc;
    width:800px;
}